/*! CSS Used from: Embedded */
input:invalid {
  outline: solid red;
}
input:valid {
  outline: none black;
}
/*! CSS Used from: Embedded */
.rc-slider {
  position: relative;
  height: 14px;
  padding: 5px 0;
  width: 100%;
  border-radius: 6px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-rail {
  position: absolute;
  width: 100%;
  background-color: #e9e9e9;
  height: 4px;
}
.rc-slider-track {
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 6px;
  background-color: #abe2fb;
}
.rc-slider-handle {
  position: absolute;
  margin-left: -7px;
  margin-top: -5px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  border-radius: 50%;
  border: solid 2px #96dbfa;
  background-color: #fff;
}
.rc-slider-handle:hover {
  border-color: #57c5f7;
}
.rc-slider-mark {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  font-size: 12px;
}
.rc-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #999;
  white-space: pre;
  width: fit-content;
}
.rc-slider-mark-text-active {
  color: #666;
}
.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent;
}
.rc-slider-dot {
  position: absolute;
  bottom: -2px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border: 2px solid #e9e9e9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
}
.rc-slider-dot:first-child {
  margin-left: -4px;
}
.rc-slider-dot:last-child {
  margin-left: -4px;
}
.rc-slider-dot-active {
  border-color: #96dbfa;
}
/*! CSS Used from: Embedded */
.Select,
.Select-control {
  position: relative;
}
.Select-control,
.Select-input > input {
  width: 100%;
  cursor: default;
  outline: 0;
}
.Select-arrow-zone,
.Select-clear-zone {
  text-align: center;
  cursor: pointer;
}
.Select,
.Select div,
.Select input,
.Select span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Select-control {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px;
  overflow: hidden;
}
.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.Select-control .Select-input:focus {
  outline: 0;
}
.Select--single > .Select-control .Select-value {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.has-value.Select--single > .Select-control .Select-value .Select-value-label {
  color: #333;
}
.Select-input {
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.Select-input > input {
  background: none;
  border: 0;
  box-shadow: none;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  line-height: 14px;
  padding: 8px 0 12px;
  -webkit-appearance: none;
}
.Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn 0.2s;
  -o-animation: Select-animation-fadeIn 0.2s;
  animation: Select-animation-fadeIn 0.2s;
  color: #999;
  display: table-cell;
  position: relative;
  vertical-align: middle;
  width: 17px;
}
.Select-clear-zone:hover {
  color: #D0021B;
}
.Select-clear {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
}
.Select-arrow-zone {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px;
}
.Select-arrow {
  display: inline-block;
}
.Select-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  height: 0;
  width: 0;
  position: relative;
}
.Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #666;
}
/*! CSS Used from: https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/minty/bootstrap.min.css */
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #FF7851;
  --orange: #fd7e14;
  --yellow: #FFCE67;
  --green: #56CC9D;
  --teal: #20c997;
  --cyan: #6CC3D5;
  --white: #fff;
  --gray: #888;
  --gray-dark: #343a40;
  --primary: #78C2AD;
  --secondary: #F3969A;
  --success: #56CC9D;
  --info: #6CC3D5;
  --warning: #FFCE67;
  --danger: #FF7851;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
footer,
nav {
  display: block;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #888;
  text-align: left;
  background-color: #fff;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
strong {
  font-weight: bolder;
}
a {
  color: #78C2AD;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #4aa48a;
  text-decoration: underline;
}
a:not([href]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
button {
  border-radius: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
input,
button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button {
  text-transform: none;
}
button,
[type="button"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
h2 {
  margin-bottom: 0.5rem;
  font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  color: #5a5a5a;
}
h2 {
  font-size: 2rem;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.collapse:not(.show) {
  display: none;
}
.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.4rem;
}
.navbar-toggler:hover,
.navbar-toggler:focus {
  text-decoration: none;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}
@media (max-width: 767.98px) {
  .navbar-expand-md > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .navbar-expand-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-md > .container {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-md .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}
.navbar-light .navbar-brand {
  color: #5a5a5a;
}
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
  color: #5a5a5a;
}
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.1);
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.3)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.bg-primary {
  background-color: #78C2AD !important;
}
.mr-1 {
  margin-right: 0.25rem !important;
}
.mr-2 {
  margin-right: 0.5rem !important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.ml-auto {
  margin-left: auto!important;
}
@media print {
  *,
  *::before,
  *::after {
    text-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  p,
  h2 {
    orphans: 3;
    widows: 3;
  }
  h2 {
    page-break-after: avoid;
  }
  body {
    min-width: 992px!important;
  }
  .container {
    min-width: 992px!important;
  }
  .navbar {
    display: none;
  }
}
.navbar {
  font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
/*! CSS Used from: https://use.fontawesome.com/releases/v5.9.0/css/all.css */
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-github-square:before {
  content: "\f092";
}
.fab {
  font-family: "Font Awesome 5 Brands";
}
/*! CSS Used from: Embedded */
.js-plotly-plot .plotly [data-title]::after {
  content: attr(data-title);
  background: #69738a;
  color: white;
  padding: 8px 10px;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
  margin-right: -18px;
  border-radius: 2px;
}
.js-plotly-plot .plotly [data-title]::before {
  content: "";
  position: absolute;
  background: transparent;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #69738a;
  border-image: initial;
  z-index: 1002;
  margin-top: -12px;
  margin-right: -6px;
}
.js-plotly-plot .plotly [data-title]:hover::before,
.js-plotly-plot .plotly [data-title]:hover::after {
  display: block;
  opacity: 1;
}
.js-plotly-plot .plotly [data-title]::before,
.js-plotly-plot .plotly [data-title]::after {
  position: absolute;
  transform: translate3d(0px, 0px, 0px);
  display: none;
  opacity: 0;
  z-index: 1001;
  pointer-events: none;
  top: 110%;
  right: 50%;
}
.js-plotly-plot .plotly .modebar-btn svg {
  position: relative;
  top: 2px;
}
.js-plotly-plot .plotly .modebar-btn {
  position: relative;
  font-size: 16px;
  padding: 3px 4px;
  height: 22px;
  cursor: pointer;
  line-height: normal;
  box-sizing: border-box;
}
.js-plotly-plot .plotly .modebar-group {
  float: left;
  display: inline-block;
  box-sizing: border-box;
  padding-left: 8px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
}
.js-plotly-plot .plotly:hover .modebar--hover .modebar-group {
  opacity: 1;
}
.js-plotly-plot .plotly .modebar--hover > :not(.watermark) {
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}
.js-plotly-plot .plotly .ease-bg {
  transition: background-color 0.3s ease 0s;
}
.js-plotly-plot .plotly .modebar {
  position: absolute;
  top: 2px;
  right: 2px;
}
.js-plotly-plot .plotly .cursor-ne-resize {
  cursor: ne-resize;
}
.js-plotly-plot .plotly .cursor-n-resize {
  cursor: n-resize;
}
.js-plotly-plot .plotly .cursor-nw-resize {
  cursor: nw-resize;
}
.js-plotly-plot .plotly .cursor-e-resize {
  cursor: e-resize;
}
.js-plotly-plot .plotly .cursor-w-resize {
  cursor: w-resize;
}
.js-plotly-plot .plotly .cursor-se-resize {
  cursor: se-resize;
}
.js-plotly-plot .plotly .cursor-s-resize {
  cursor: s-resize;
}
.js-plotly-plot .plotly .cursor-sw-resize {
  cursor: sw-resize;
}
.js-plotly-plot .plotly .cursor-ew-resize {
  cursor: ew-resize;
}
.js-plotly-plot .plotly .cursor-ns-resize {
  cursor: ns-resize;
}
.js-plotly-plot .plotly .cursor-crosshair {
  cursor: crosshair;
}
.js-plotly-plot .plotly .cursor-pointer {
  cursor: pointer;
}
.js-plotly-plot .plotly .main-svg .draglayer {
  pointer-events: all;
}
.js-plotly-plot .plotly .main-svg {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}
.js-plotly-plot .plotly svg {
  overflow: hidden;
}
.js-plotly-plot .plotly .user-select-none {
  user-select: none;
}
.js-plotly-plot .plotly .crisp {
  shape-rendering: crispedges;
}
.js-plotly-plot .plotly a:hover {
  text-decoration: none;
}
.js-plotly-plot .plotly a {
  text-decoration: none;
}
.js-plotly-plot .plotly,
.js-plotly-plot .plotly div {
  direction: ltr;
  font-family: "Open Sans", verdana, arial, sans-serif;
  margin: 0px;
  padding: 0px;
}
/*! CSS Used from: Embedded */
#modebar-4c4813 .modebar-btn.active .icon path {
  fill: rgba(68, 68, 68, 0.7);
}
#modebar-4c4813 .modebar-btn:hover .icon path {
  fill: rgba(68, 68, 68, 0.7);
}
#modebar-4c4813 .modebar-btn .icon path {
  fill: rgba(68, 68, 68, 0.3);
}
.js-plotly-plot .plotly:hover #modebar-4c4813 .modebar-group {
  background-color: rgba(248, 248, 255, 0.5);
}
/*! CSS Used from: Embedded */
#modebar-c104a3 .modebar-btn.active .icon path {
  fill: rgba(68, 68, 68, 0.7);
}
#modebar-c104a3 .modebar-btn:hover .icon path {
  fill: rgba(68, 68, 68, 0.7);
}
#modebar-c104a3 .modebar-btn .icon path {
  fill: rgba(68, 68, 68, 0.3);
}
.js-plotly-plot .plotly:hover #modebar-c104a3 .modebar-group {
  background-color: rgba(255, 255, 255, 0.5);
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .cls-1 {
    fill: #119dff;
  }
  .cls-2 {
    fill: #25fefd;
  }
  .cls-3 {
    fill: #fff;
  }
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .cls-1 {
    fill: #119dff;
  }
  .cls-2 {
    fill: #25fefd;
  }
  .cls-3 {
    fill: #fff;
  }
}
/*! CSS Used keyframes */
@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*! CSS Used fontfaces */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url(https://use.fontawesome.com/releases/v5.9.0/webfonts/fa-brands-400.eot);
  src: url(https://use.fontawesome.com/releases/v5.9.0/webfonts/fa-brands-400.eot#iefix) format("embedded-opentype"), url(https://use.fontawesome.com/releases/v5.9.0/webfonts/fa-brands-400.woff2) format("woff2"), url(https://use.fontawesome.com/releases/v5.9.0/webfonts/fa-brands-400.woff) format("woff"), url(https://use.fontawesome.com/releases/v5.9.0/webfonts/fa-brands-400.ttf) format("truetype"), url(https://use.fontawesome.com/releases/v5.9.0/webfonts/fa-brands-400.svg#fontawesome) format("svg");
}
